<!DOCTYPE html>
<html>
  <head>
    <title>Suggestron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img src="http://amma.org/sites/default/files/styles/node_main_wide/public/tourstops/ammatourguidephoto20172000x1335_4.jpg"/>
    <%= yield %>
  </body>
</html>
